.customBtn {
  font-size: 14px !important;
  padding: 5px 16px !important;
  border-radius: 6px !important;
  margin: 5px 10px 5px 0 !important;
  font-weight: normal !important;
  border: 1px solid #757575 !important;
}

.category {
    font-weight: bold;
    line-height: 27px;
    font-size: 17px;
    color: #444;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
}

.customBtnt:active, .customBtn:focus {
    border: 1px solid #4AA567;
    background-color: #57c282 ;
    color: white;
}

.ctmcheckbox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  cursor: pointer;
}

ul{
  margin-left: 10px;
}

